.img-trans-wrapper {
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: whitesmoke;
  overflow: hidden;
  z-index: 1;
}

.img-trans-video-container {
  transform-origin: center left;
}

.img-trans-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-trans-popup {
  max-width: 480px;
  color: rgba(135, 80, 36);
  font-size: 1.1rem;
}

.img-trans-popup h2 {
  font-family: 'FoglightItem', serif;
  color: #875024;
  font-size: 100px;
  text-align: center;
  margin: 0;
  line-height: 0.7;
}

.img-trans-popup h4 {
  font-family: 'FoglightItem', serif;
  font-size: 20px;
  color: #875024;
  text-align: center;
  margin: 0;
  line-height: 1.7;
}
.img-trans-popup p {
  font-size: 20px;
  color: #875024;
  text-align: center;
  margin-top: 30px;
}

@keyframes popupEnter {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}


.img-trans-banner {
  position: relative;
  top: 8%;
  height: 27%;
  width: 80%;
  background: radial-gradient(circle, #d7938f, #fad0c4);

  padding: 40px 20px;
  text-align: center;
  color: #5a2e0f;
  font-family: 'FoglightItem', serif;
  animation: bannerEnter 1.2s ease forwards;
  opacity: 0;
  transform: translateY(50px);
  margin: auto;
  border-radius: 30px;
}

.img-trans-banner h3 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}

.img-trans-banner p {
  font-size: 18px;
  margin-bottom: 30px;
   color: white;
}

.banner-button {
  background-color: white;
  color: black;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.banner-button:hover {
  background-color: black;
  color: white;
}

@keyframes bannerEnter {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
