.sidebar {
    width: 18%;
    min-height: 100vh;
    border: 1px solid #e0e0e0;
    border-top: 0;
}

.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    transition: background-color 0.5s, color 0.3s;
}
.sidebar-option:hover {
    background-color: #d7938f;
    color: white;
}

.sidebar-option.active {
    background-color: #d7938f;
    color: white;
}

@media (max-width:900px) {
    .sidebar-option p{
        display: none;
    }
    
}