@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@font-face {
  font-family: 'FoglightItem';
  src: url('./assets/fonts/FoglihtenNo07.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
  font-family: Outfit;
}

body {
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}

