.category-section {
  padding: 60px 40px;
  text-align: center;
  height: 100vh;
  background-color: whitesmoke;
  background-image: url('../../assets/bg-categoryslider.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-title {
  font-size: 46px;
  font-family: 'FoglightItem', serif;
  font-weight: 600;
  color: #875024;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.category-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  background-color: rgba(245, 245, 245, 0.935);
  gap: 20px;
}

.slider-track {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.category-card {
  width: 160px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-label {
  font-family: 'FoglightItem', serif;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #875024;
}

/* Arrows */
.arrow {
  background: none;
  border: none;
  font-size: 22px;
  color: #875024;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #f8b400;
}
