.cart-sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 0.3s ease;
}

.cart-sidebar {
  width: 350px;
  height: 100%;
  background-color: #fff;
  padding: 25px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cart-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-sidebar-header h3 {
  font-family: 'FoglightItem', serif;
  color: #d7938f;
  font-size: 20px;
}

.close-cart-icon {
  font-size: 22px;
  cursor: pointer;
  color: #d7938f;
  transition: transform 0.3s ease;
}

.close-cart-icon:hover {
  transform: rotate(180deg);
  color: rgb(189, 0, 0);
}

.cart-items {
  flex-grow: 1;
  margin: 20px 0;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d7938f;
  align-items: center;
}

.cart-item-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: 500;
  font-family: 'FoglightItem', serif;
  font-size: 15px;
}

.cart-item-price {
  font-size: 14px;
  color: #d7938f;
}

.cart-item-qty {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.cart-item-qty button {
  background: none;
  color: black;
  padding: 2px 8px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  font-size: 18px;
}

.cart-item-subtotal {
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

.remove-item-icon {
  font-size: 18px;
  color: black;
  cursor: pointer;
  margin-left: auto;
}

.empty-cart {
  text-align: center;
  color: #999;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.return-shop-btn {
  background-color: #d7938f;;
  color: white;
  padding: 8px 12px;
  border: 1px solid #d7938f;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.return-shop-btn:hover {
  background-color: white;
  color: #d7938f;
  border: #d7938f solid 1px;
}



.cart-summary {
  font-size: 14px;
  margin-bottom: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-summary > p:nth-of-type(1) {
  font-weight: 500;
  font-size: 20px;
}

.cart-summary > p:nth-of-type(2) {
  font-size: 15px;
  color: #555;
}
.cart-summary > p:nth-of-type(3) {
  font-weight: 500;
  font-size: 20px;
}

.cart-sidebar-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-cart-btn,
.checkout-btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-cart-btn {
  background-color: #d7938f;
  color: white;
  border: 1px solid #d7938f;
}

.view-cart-btn:hover {
  background-color: white;
  color: #d7938f;
}

.checkout-btn {
  background-color: white;
  color: #d7938f;
  border: 1px solid #d7938f;
}

.checkout-btn:hover {
  background-color: #d7938f;
  color: white;
}